<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">
        <meta name="description" content="Violate Responsive Admin Template">
        <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

        <title>Personal Account Manager</title>

        <!-- CSS -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/form.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/animate.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/generics.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body id="skin-blur-ocean">
        <section id="login">
            <div class="clearfix"></div>
            <!-- Login -->
            <div class="tile text-center col-xs-12 col-md-6 col-md-offset-3" style="width: 314px; height: 350px; margin-left: 37.5%;margin-right: 37.5%;margin-top: 5%;">
                <div class="tile-dark p-10" style="width: 300px;">
                    <h3>Login</h3><br>
                    <div id="content-main">
                    <form action="" method="post" id="login-form" style="width: 300px;">{% csrf_token %}
                      <div class="form-row" style ="width: 274px; height: 33px;">
                        {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
                        <input id="id_username" maxlength="254" name="username" type="text" class="login-control m-b-10 required" placeholder="Username or Email Address"  for="id_username">
                      </div><br>
                      <div class="form-row" style ="width: 274px; height: 33px;">
                        {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
                        <input id="id_password" name="password" type="password" class="login-control required" placeholder="Password" for="id_password">
                        <input type="hidden" name="this_is_the_login_form" value="1" />
                        <input type="hidden" name="next" value="{{ next }}" />
                      </div><br>
                      {% url 'admin_password_reset' as password_reset_url %}
                      {% if password_reset_url %}
                      <div class="password-reset-link">
                        <a href="{{ password_reset_url }}">Forgotten your password or username?</a>
                      </div>
                      {% endif %}
                      <div class="submit-row">
                        <label>&nbsp;</label><input class="btn btn-sm m-r-5" type="submit" value="Login" />
                      </div>
                    </form>
                    </div><br>
                    <hr class = 'whiter'><br>
                    <h5>or Connect with</h5><br>
                    <a href="{% url 'social:begin' 'linkedin' %}"><i class="fa fa-linkedin-square" style= "font-size:4vw;"></i></a>&nbsp;&nbsp;
                    <a href="{% url 'social:begin' 'twitter' %}"><i class="fa fa-twitter-square" style= "font-size:4vw;"></i></a>&nbsp;&nbsp;
                    <a href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook-square" style= "font-size:4vw;"></i></a>&nbsp;&nbsp;
                    <a href="{% url 'social:begin' 'google' %}"><i class="fa fa-google-plus-square" style= "font-size:4vw;"></i></a>&nbsp;&nbsp;
                </div>
            </div>
        </section>
        <script type="text/javascript">
        document.getElementById('id_username').focus()
        </script>
        <!-- Javascript Libraries -->
        <!-- jQuery -->
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script> <!-- jQuery Library -->

        <!-- Bootstrap -->
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

        <!--  Form Related -->
        <script src="{{ STATIC_URL }}js/icheck.js"></script> <!-- Custom Checkbox + Radio -->

        <!-- All JS functions -->
        <script src="{{ STATIC_URL }}js/functions.js"></script>
    </body>
</html>