<h1>Password reset</h1>

<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">Email address:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
</form>
