<h1>Password reset successful</h1>

<p>We've emailed you instructions for setting your password. You should be receiving them shortly.</p>

<p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
