<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta charset="UTF-8">
        <title>Expense Manager | Version 1.0</title>
        <!-- CSS -->
        <link href="{{ STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL}}css/animate.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL}}css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL}}css/form.css" rel="stylesheet">
        <link href="{{ STATIC_URL}}css/calendar.css" rel="stylesheet">
        <link href="{{ STATIC_URL}}css/media-player.css" rel="stylesheet">
        <link href="{{ STATIC_URL}}css/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL}}css/icons.css" rel="stylesheet">
        <link href="{{ STATIC_URL}}css/generics.css" rel="stylesheet">
        <script src="{{ STATIC_URL}}js/jquery.min.js"></script> <!-- jQuery Library -->
        <script src="{{ STATIC_URL}}js/bootstrap.min.js"></script>
        <!-- UX -->
        <script src="{{ STATIC_URL}}js/scroll.min.js"></script> <!-- Custom Scrollbar -->
        <!-- Other -->
        <script src="{{ STATIC_URL}}js/calendar.min.js"></script> <!-- Calendar -->
        <script src="{{ STATIC_URL}}js/feeds.min.js"></script> <!-- News Feeds -->
         <script src="{{ STATIC_URL}}js/select.min.js"></script> <!-- Custom Select -->
        <!-- All js functions -->
        <script src="{{ STATIC_URL}}js/functions.js"></script>
        <script src="{{ STATIC_URL}}js/jquery.flot.js"></script>
        <script src="{{ STATIC_URL}}js/jquery.flot.pie.js"></script>
    </head>
    <body id="skin-blur-ocean">
        <header id="header" class="media">
            <a class="logo pull-left" href="http://www.jagadesh.in" style ="padding-left: 5px; padding-top: 13px; padding-bottom: 13px; padding-right: 5px;">Expense Manager 1.0</a>
            <div class="media-body">
                <div class="media" id="top-menu">
                    <div class="pull-left tm-icon">
                        <a data-drawer="messages" class="drawer-toggle" href="">
                            <i class="sa-top-message"></i>
                            <i class="n-count animated">5</i>
                            <span>Messages</span>
                        </a>
                    </div>
                    <div class="pull-left tm-icon">
                        <a data-drawer="notifications" class="drawer-toggle" href="">
                            <i class="sa-top-updates"></i>
                            <i class="n-count animated">9</i>
                            <span>Updates</span>
                        </a>
                    </div>
                    <div id="time" class="pull-right">
                        <span id="hours"></span>
                        :
                        <span id="min"></span>
                        :
                        <span id="sec"></span>
                    </div>
                </div>
            </div>
        </header>
        <div class="clearfix"></div>
        <section id="main" class="p-relative" role="main">
            <!-- Sidebar -->
            <aside id="sidebar">
                <!-- Sidbar Widgets -->
                <div class="side-widgets overflow">
                    <!-- Profile Menu -->
                    <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
                        <a href="" data-toggle="dropdown">
                            <img class="profile-pic animated" src="{{ STATIC_URL}}img/profile-pic.jpg" alt="">
                        </a>
                        <ul class="dropdown-menu profile-menu">
                            <li><a href="/accounts/logout/">Sign Out</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                        </ul>
                        <h4 class="m-0">Malinda Hollaway</h4>
                        @malinda-h
                    </div>
                    <!-- Balance Details -->
                    <div class="s-widget m-b-25">
                        <h2 class="tile-title">
                           Balance Information
                        </h2>
                        {% block balance_information %}
                        {% endblock %}
                    </div>
                    <!-- Feeds -->
                    <div class="s-widget m-b-25">
                        <h2 class="tile-title">
                           Latest Transactions
                        </h2>
                    </div>
                </div>
            </aside>
{% block content %}
{% endblock %}
        <br/><br/>
        </section>
        <!-- Javascript Libraries -->
        <!-- jQuery -->
        <!-- Bootstrap -->
        <script>
            $('#category_filter').on('change', function() {
                window.location = '?category='+this.value
            });
            $('#id_period').on('change', function(){
                $.get('/balance_info/?value='+this.value, function(bal_dict){
                    $('#id_income').html(bal_dict.total_income)
                    $('#id_expense').html(bal_dict.total_expense)
                    $('#id_balance').html(bal_dict.total_balance)
                });
            });
            $('.myiModal').click(function(){
                $.get('/income_edit/'+$(this).attr('id'), function(edit_details){
                    $('#id_inc_edit').val(edit_details.pk);
                    $('#id_name_edit').val(edit_details.name);
                    $('#id_ref_no_edit').val(edit_details.ref_no);
                    $('#id_amount_edit').val(edit_details.amount);
                    $('#id_type_edit').val(edit_details.type);
                    $('#id_date_edit').val(edit_details.date);
                });
            });
            $('.editiModal').click(function(){
                var str     =   $(this).attr('id');
                var val     =   str.substring(4,6);
                var inc_del =   'delete_entry_'+val;
                if (confirm("Are you sure about deleting this entry?")){
                $('#' + inc_del).submit();
                }
            });
            $('#id_income_edit').submit(function(event){
            event.preventDefault();
            var dataString  =   {   'name'      :   $('#id_name_edit').val(),
                                    'date'      :   $('#id_date_edit').val(),
                                    'type'      :   $('#id_type_edit').val(),
                                    'amount'    :   $('#id_amount_edit').val(),
                                    'ref_no'    :   $('#id_ref_no_edit').val(),
                                    csrfmiddlewaretoken: '{{ csrf_token }}'
                            };
            var dataUrl =   '/income_edit/'+$('#id_inc_edit').val()+'/';
                $.ajax({
                    type    : "POST",
                    url     : dataUrl,
                    data    : dataString,
                    success : function(edit_details){
                        var datar    =   edit_details.pk;
                        $('#myModal').modal('hide');
                        $('#id_name_' + datar).html(edit_details.name);
                        $('#id_ref_no_' + datar).html(edit_details.ref_no);
                        $('#id_amount_' + datar).html(edit_details.amount);
                        $('#id_type_' + datar).html(edit_details.type);
                        $('#id_date_' + datar).html(edit_details.date);
                    }
                 });
            });
            $('.myeModal').click(function(){
                $.get('/expense_edit/'+$(this).attr('id'), function(edit_details){
                    $('#id_exp_edit').val(edit_details.pk);
                    $('#id_name_edit').val(edit_details.name);
                    $('#id_ref_no_edit').val(edit_details.ref_no);
                    $('#id_amount_edit').val(edit_details.amount);
                    $('#id_type_edit').val(edit_details.type);
                    $('#id_date_edit').val(edit_details.date);
                });
            });
            $('.editeModal').click(function(){
                var str     =   $(this).attr('id');
                var val     =   str.substring(4,6);
                var exp_del =   'delete_entry_'+val;
                if (confirm("Are you sure about deleting this entry?")){
                $('#' + exp_del).submit();
                }
            });
            $('#id_expense_edit').submit(function(event){
            event.preventDefault();
            var dataString  =   {   'name'      :   $('#id_name_edit').val(),
                                    'date'      :   $('#id_date_edit').val(),
                                    'type'      :   $('#id_type_edit').val(),
                                    'amount'    :   $('#id_amount_edit').val(),
                                    'ref_no'    :   $('#id_ref_no_edit').val(),
                                    csrfmiddlewaretoken: '{{ csrf_token }}'
                            };
            var dataUrl =   '/expense_edit/'+$('#id_exp_edit').val()+'/';
                $.ajax({
                    type    : "POST",
                    url     : dataUrl,
                    data    : dataString,
                    success : function(edit_details){
                        var datar    =   edit_details.pk;
                        $('#myModal').modal('hide');
                        $('#id_name_' + datar).html(edit_details.name);
                        $('#id_ref_no_' + datar).html(edit_details.ref_no);
                        $('#id_amount_' + datar).html(edit_details.amount);
                        $('#id_type_' + datar).html(edit_details.type);
                        $('#id_date_' + datar).html(edit_details.date);
                    }
                 });
            });
        </script>
        {% block external_report %}
        {% endblock %}
    </body>
</html>