{% extends 'base.html' %}
{% load widget_tweaks %}
{% block balance_information %}
<br>
<div class="col-md-12 m-b-10" style="margin-top: 10px;">
    <select id = "id_period" class = "select">
        <option>Overall<option>
        <option value="today" {% if today_value %} selected="selected"{% endif %}>Today</option>
        <option value="yesterday" {% if yesterday_value %} selected="selected"{% endif %}>Yesterday</option>
        <option value="last_week" {% if last_week_value %} selected="selected"{% endif %}>Last Week</option>
        <option value="last_month" {% if last_month_value %} selected="selected"{% endif %}>Last Month</option>
    </select>
</div>
<br>
Total Income    = <span id = "id_income">{{ bal_info.total_income }}</span><br>
Total Expense   = <span id = "id_expense">{{ bal_info.total_expense }}</span><br>
Total Balance   = <span id = "id_balance">{{ bal_info.total_balance }}</span>
{% endblock %}
{% block content %}
            <!-- Content -->
            <section id="content" class="container">

                <div class="block-area shortcut-area">
                    <a class="shortcut tile" href="">
                    <i class="fa fa-home" style= "font-size:4vw;"></i>
                        <small class="t-overflow">Dashboard</small>
                    </a>
                    <a class="shortcut tile" href="/income/">
                    <i class="fa fa-plus-square" style= "font-size:4vw;"></i>
                        <small class="t-overflow">Income</small>
                    </a>
                    <a class="shortcut tile" href="/expense/">
                    <i class="fa fa-minus-square" style= "font-size:4vw;"></i>
                        <small class="t-overflow">Expenses</small>
                    </a>
                    <a class="shortcut tile" href="/reports/">
                    <i class="fa fa-bar-chart-o" style= "font-size:4vw;"></i>
                        <small class="t-overflow">Reports</small>
                    </a>
                    <a class="shortcut tile" href="/user_info/">
                    <i class="fa fa-user" style= "font-size:4vw;"></i>
                        <small class="t-overflow">Profile</small>
                    </a>
                </div>

                <!-- Table Striped -->

                <div class="block-area" id="tableStriped">
                    <h2 class="block-title">Recent Transactions</h2>
                    <div class="table-responsive overflow">
                    <div class="col-md-2 m-b-10">
                        <select id = "category_filter" class = "select">
                            <option>Credit/Debit<option>
                            <option value="credit" {% if credit_value %} selected="selected"{% endif %}>Credit</option>
                            <option value="debit" {% if debit_value %} selected="selected"{% endif %}>Debit</option>
                        </select>
                    </div>
                    <div class="col-md-2 m-b-10">
                        <i class="fa fa-calendar-o" id="id_datepicker"  style= "font-size:1.5vw;"></i>
                    </div>
                        <table class="tile table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Name</th>
                                    <th>Reference ID</th>
                                    <!-- <th>Income/Expense</th> -->
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Credit</th>
                                    <th>Debit</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for form in listing %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    {% if form.inc_flag %}
                                    <td><a href="/income_edit/{{ form.pk }}">{{ form.name }}</a></td>
                                    {% else %}
                                    <td><a href="/expense_edit/{{ form.pk }}">{{ form.name }}</a></td>
                                    {% endif %}
                                    <td>{{ form.ref_no }}</td>
                                    <!-- {% if form.inc_flag %}
                                    <td>Income</td>
                                    {% else %}
                                    <td>Expense</td>
                                    {% endif %} -->
                                    <td>{{ form.date }}</td>
                                    <td>{{ form.type }}</td>
                                    {% if form.inc_flag %}
                                    <td>{{ form.amount }}</td>
                                    {% else %}
                                    <td>  </td>
                                    {% endif %}
                                    {% if form.exp_flag %}
                                    <td>{{ form.amount }}</td>
                                    {% else %}
                                    <td>  </td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                <table>
                                    <th>Sorry, no entries in this list</th>
                                {% endfor %}
                                </table>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if paination %}
                <div class="pagination">
                    <span class="step-links">
                        {% if listing.has_previous %}
                            <a href="{% if credit_value %}/?category=credit&amp;{% elif debit_value %}/?category=debit&amp;{% else %}?{% endif %}page={{ listing.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ listing.number }} of {{ listing.paginator.num_pages }}.
                        </span>

                        {% if listing.has_next %}
                            <a href="{% if credit_value %}/?category=credit&amp;{% elif debit_value %}/?category=debit&amp;{% else %}?{% endif %}page={{ listing.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
                {% endif %}
            </section>
{% endblock %}