{% extends 'base.html' %}
{% load widget_tweaks %}
{% block balance_information %}
<br>
<div class="col-md-12 m-b-10" style="margin-top: 10px;">
    <select id = "id_period" class = "select">
        <option>Overall<option>
        <option value="today" {% if today_value %} selected="selected"{% endif %}>Today</option>
        <option value="yesterday" {% if yesterday_value %} selected="selected"{% endif %}>Yesterday</option>
        <option value="last_week" {% if last_week_value %} selected="selected"{% endif %}>Last Week</option>
        <option value="last_month" {% if last_month_value %} selected="selected"{% endif %}>Last Month</option>
    </select>
</div>
<br>
Total Income    = <span id = "id_income">{{ bal_info.total_income }}</span><br>
Total Expense   = <span id = "id_expense">{{ bal_info.total_expense }}</span><br>
Total Balance   = <span id = "id_balance">{{ bal_info.total_balance }}</span>
{% endblock %}
{% block content %}
<section id="content" class="container">

    <div class="block-area shortcut-area">
        <a class="shortcut tile" href="/">
        <i class="fa fa-home" style= "font-size:4vw;"></i>
            <small class="t-overflow">Dashboard</small>
        </a>
        <a class="shortcut tile" href="/income/">
        <i class="fa fa-plus-square" style= "font-size:4vw;"></i>
            <small class="t-overflow">Income</small>
        </a>
        <a class="shortcut tile" href="/expense/">
        <i class="fa fa-minus-square" style= "font-size:4vw;"></i>
            <small class="t-overflow">Expenses</small>
        </a>
        <a class="shortcut tile" href="/reports/">
        <i class="fa fa-bar-chart-o" style= "font-size:4vw;"></i>
            <small class="t-overflow">Reports</small>
        </a>
        <a class="shortcut tile" href="/user_info/">
        <i class="fa fa-user" style= "font-size:4vw;"></i>
            <small class="t-overflow">Profile</small>
        </a>
    </div>
    <div class="block-area" id="multi-column">
    <h3 class="block-title">ADD EXPENSE</h3>
    <div class="tile p-15">
    <form action="/expense/" method="post" class="row form-columned" role="form" >{% csrf_token %}
    <div class="col-md-4">
        {{ form.name|add_class:"form-control input-sm m-b-10"|attr:"placeholder:Name" }}
    </div>
    <div class="col-md-4">
        {{ form.ref_no|add_class:"form-control input-sm m-b-10"|attr:"placeholder:Reference Number" }}
    </div>
    <div class="col-md-4 m-b-10">
        {{ form.type|add_class:"select"}}
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4">
        {{ form.amount|add_class:"form-control input-sm m-b-10"|attr:"placeholder:Amount" }}
    </div>
    <div class="col-md-4">
        {{ form.date|add_class:"form-control input-sm m-b-10"|attr:"placeholder:Date" }}
    </div>
    <div class="col-md-10">
        <button type="submit" class="btn btn-sm" value="Submit">Add</button>
    </div>
    </form>
    </div>
    </div>
    {% if messages %}
        <div class="block-area messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="block-area" id="tableStriped">
        <h2 class="block-title">Expenses</h2>
        <div class="table-responsive overflow">
            <table class="tile table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Reference ID</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Debit</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in listing %}
                    <tr>
						<td id="id_counter_{{ form.pk }}">{{ forloop.counter }}</td>
						<td id="id_name_{{ form.pk }}">{{ form.name }}</td>
						<td id="id_ref_no_{{ form.pk }}">{{ form.ref_no }}</td>
						<td id="id_date_{{ form.pk }}">{{ form.date }}</td>
						<td id="id_type_{{ form.pk }}">{{ form.type }}</td>
						<td id="id_amount_{{ form.pk }}">{{ form.amount }}</td>
						<td><form id = "delete_entry_{{ form.pk }}" action="/expense_delete/{{ form.pk }}/" method="post">{% csrf_token %}
						<i class="fa fa-edit myeModal" id = "{{ form.pk }}" data-toggle="modal" data-target="#myModal" style= "font-size:1.25vw;"></i> /
						<i class="fa fa-trash-o editeModal" id= "del_{{ form.pk }}" style= "font-size:1.25vw;"></i>
						</form></td>
					</tr>
                    {% empty %}
                    <table>
                        <th>Sorry, no entries in this list</th>
                    {% endfor %}
                    </table>
                </tbody>
            </table>
        </div>
    </div>
    {% if pagination %}
    <div class="pagination">
        <span class="step-links">
            {% if listing.has_previous %}
                <a href="?page={{ listing.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ listing.number }} of {{ listing.paginator.num_pages }}.
            </span>

            {% if listing.has_next %}
                <a href="?page={{ listing.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form id="id_expense_edit" enctype="multi-part/formdata" method="post" class="row form-columned" role="form" >{% csrf_token %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" value="" id="id_exp_edit">
        <div class="col-md-4">
            {{ form.name|add_class:"form-control input-sm m-b-10"|attr:"placeholder:Name"|attr:"id:id_name_edit" }}
        </div>
        <div class="col-md-4">
            {{ form.ref_no|add_class:"form-control input-sm m-b-10"|attr:"placeholder:Reference Number"|attr:"id:id_ref_no_edit" }}
        </div>
        <div class="col-md-4 m-b-10">
            {{ form.type|add_class:"form-control custom-select"|attr:"id:id_type_edit" }}
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            {{ form.amount|add_class:"form-control input-sm m-b-10"|attr:"placeholder:Amount"|attr:"id:id_amount_edit"}}
        </div>
        <div class="col-md-4">
            {{ form.date|add_class:"form-control input-sm m-b-10 datePicker"|attr:"placeholder:Date"|attr:"id:id_date_edit" }}
        </div>
      </div><br>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button  class="btn btn-primary" id="expense_save_changes" type = "submit" value= "Submit">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>
</section>
{% endblock %}