{% extends 'base.html' %}
{% block balance_information %}
<br>
<div class="col-md-12 m-b-10" style="margin-top: 10px;">
    <select id = "id_period" class = "select">
        <option>Overall<option>
        <option value="today" {% if today_value %} selected="selected"{% endif %}>Today</option>
        <option value="yesterday" {% if yesterday_value %} selected="selected"{% endif %}>Yesterday</option>
        <option value="last_week" {% if last_week_value %} selected="selected"{% endif %}>Last Week</option>
        <option value="last_month" {% if last_month_value %} selected="selected"{% endif %}>Last Month</option>
    </select>
</div>
<br>
Total Income    = <span id = "id_income">{{ bal_info.total_income }}</span><br>
Total Expense   = <span id = "id_expense">{{ bal_info.total_expense }}</span><br>
Total Balance   = <span id = "id_balance">{{ bal_info.total_balance }}</span>
{% endblock %}
{% block content %}
<section id="content" class="container">
    <div class="block-area shortcut-area">
        <a class="shortcut tile" href="/">
        <i class="fa fa-home" style= "font-size:4vw;"></i>
            <small class="t-overflow">Dashboard</small>
        </a>
        <a class="shortcut tile" href="/income/">
        <i class="fa fa-plus-square" style= "font-size:4vw;"></i>
            <small class="t-overflow">Income</small>
        </a>
        <a class="shortcut tile" href="/expense/">
        <i class="fa fa-minus-square" style= "font-size:4vw;"></i>
            <small class="t-overflow">Expenses</small>
        </a>
        <a class="shortcut tile" href="/reports/">
        <i class="fa fa-bar-chart-o" style= "font-size:4vw;"></i>
            <small class="t-overflow">Reports</small>
        </a>
        <a class="shortcut tile" href="/user_info/">
        <i class="fa fa-user" style= "font-size:4vw;"></i>
            <small class="t-overflow">Profile</small>
        </a>
    </div>
    <div class="block-area">
        <div class="row" style="margin-left: 0px;">

            <div class="tile-dark p-10 col-md-5">
            <h2 class="block-title">Incomes</h2>
            <div id="inc_florgraphs" style ="width:400px; height:250px;"></div>
            </div>
            <div class= "col col-md-1">
            </div>
            <div class="tile-dark p-10 col-md-5">
            <h2 class="block-title">Expenses</h2>
            <div id="exp_florgraphs" style ="width:400px; height:250px;"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block external_report %}
    <script>
        var inc_data = [];
        var inc_amt =   {{ inc_amount }};
        var inc_lst =   {{ inc_type | safe }};

        for (var j in inc_lst ){
            inc_data[j] = {
                label: inc_lst[j],
                data: inc_amt[j]
            }
        }

        var exp_data = [];
        var exp_amt =   {{ exp_amount }};
        var exp_lst =   {{ exp_type | safe }};

        for (var j in exp_lst ){
            exp_data[j] = {
                label: exp_lst[j],
                data: exp_amt[j]
            }
        }

        $.plot('#inc_florgraphs', inc_data, {
                series: {
                    pie: {
                        show: true
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                }
            });

        $.plot('#exp_florgraphs', exp_data, {
                series: {
                    pie: {
                        show: true
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                }
            });
    </script>
{% endblock %}