{% extends 'base.html' %}
{% block balance_information %}
<br>
<div class="col-md-12 m-b-10" style="margin-top: 10px;">
    <select id = "id_period" class = "select">
        <option>Overall<option>
        <option value="today" {% if today_value %} selected="selected"{% endif %}>Today</option>
        <option value="yesterday" {% if yesterday_value %} selected="selected"{% endif %}>Yesterday</option>
        <option value="last_week" {% if last_week_value %} selected="selected"{% endif %}>Last Week</option>
        <option value="last_month" {% if last_month_value %} selected="selected"{% endif %}>Last Month</option>
    </select>
</div>
<br>
Total Income    = <span id = "id_income">{{ bal_info.total_income }}</span><br>
Total Expense   = <span id = "id_expense">{{ bal_info.total_expense }}</span><br>
Total Balance   = <span id = "id_balance">{{ bal_info.total_balance }}</span>
{% endblock %}
{% block content %}
<section id="content" class="container">
    <div class="block-area shortcut-area">
        <a class="shortcut tile" href="/">
        <i class="fa fa-home" style= "font-size:4vw;"></i>
            <small class="t-overflow">Dashboard</small>
        </a>
        <a class="shortcut tile" href="/income/">
        <i class="fa fa-plus-square" style= "font-size:4vw;"></i>
            <small class="t-overflow">Income</small>
        </a>
        <a class="shortcut tile" href="/expense/">
        <i class="fa fa-minus-square" style= "font-size:4vw;"></i>
            <small class="t-overflow">Expenses</small>
        </a>
        <a class="shortcut tile" href="/reports/">
        <i class="fa fa-bar-chart-o" style= "font-size:4vw;"></i>
            <small class="t-overflow">Reports</small>
        </a>
        <a class="shortcut tile" href="/user_info/">
        <i class="fa fa-user" style= "font-size:4vw;"></i>
            <small class="t-overflow">Profile</small>
        </a>
    </div>
    {% for form in forms %}
    <h4 class="page-title">{{ form.first_name }} {{ form.last_name }}</h4>
    <div class="block-area">
        <div class="row">
            <div class="col-md-12">
                <div class="tile-light p-5 m-b-15">
                    <img class="img-thumbnail m-r-10 m-b-10" alt="" style="width:200px height:200px" src="{{ media_url }}/{{ form.img }}">
                    <div class="media">
                        <i class="fa fa-briefcase media-body"> {{ form.occupation }}</i>
                    </div>
                    <div class="media">
                        <i class="fa fa-phone media-body"> {{ form.mobile }}</i>
                    </div>
                    <!-- <div class="media">
                        <i class="fa fa-graduation-cap"> Studied at Oxford University</i>
                    </div> -->
                    <div class="media">
                        <i class="fa fa-globe media-body"> {{ form.website_url }}</i>
                    </div>
                    <div class="media">
                        <i class="fa fa-thumps-up media-body"> {{ form.interests }}</i>
                    </div>
                    <div class="media">
                        <i class="fa fa-home media-body"> {{ form.about }}</i>
                    </div>
                    <!-- <div class="media">
                        <i class="fa fa-home media-body"> Lives in Saturn, Milkyway</i>
                    </div> -->
                    <!-- <div class="media">
                        <i class="fa fa-map-marker media-body"> From Titan, Jupitor</i>
                    </div> -->
                {% empty %}
                Please enter your details through Edit link!
                {% endfor %}
                {{ form.first_name }}
                <a href = "/user_info_edit/">Edit</a><br>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}